@import './../lib/vars'; 

.comment-item {
  margin-top: 12px;

  .comment-photo-div {
    display: inline-block;
    margin-right: 8px;

    img {
      height: 48px;
      width: 48px;
      border-radius: 5px;
     }

     .comment-commenter {
       color: $color-primary;
     }
  }

  .comment-text-div {
    display: inline-block;  
    
    .comment-content {
      color: $color-primary;
    }
   }
 }