.comment-item {
  margin-top: 12px;
  width: 100%;

  .comment-photo-div {
    display: inline-block;
    margin-right: 8px;
    padding: $pad;
    width: 10vw;

    img {
      width: 48px;
      margin-left: 4vw;
     }

  }
    
  .comment-text-div {
    display: inline-block; 
    margin: 0;
    vertical-align: top;
    width: 70vw;
    
    .comment-commenter {
      color: $color-secondary;
      font-weight: bold;
      padding: $pad;
    }
    .comment-content {
      color: $color-black;
      padding: $pad;
    }
   }
 }