@import './../lib/vars'; 

footer {
  background-color: #000;
  margin-top: 3vh;
  padding: 1.6vw;
  text-align: right;
  p {
    letter-spacing: 1px;
  }
  p, i {
    font-size: 18px;
    color: #FFF;
  }
  i:hover {
    color: rgba(255,255,255, 0.8);
  }
  .fa-github {
    margin: 0 4px;
  }
}
.introFooter{
  display: none;
}