@import './../lib/vars'; 

.form {
  input {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: $border-radius;
    border-width: 0px;
    margin: $margin;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
  }


  input[type="radio"] {
    width: 2vw;
  }

  input:focus {
    background-color: $color-primary-hover;
    border-radius: $border-radius;
    border-width: 0px;
  }

  label {
    display: inline-block;
    width: 20%;
  }
  
  .radio-div {
    color: #4A4A4A;
    font-size: 16px;
    padding: $pad;
  }

  .username-availability, .groupName-availability {
    margin-left: $margin;
  }
}

.userauth-form {
  margin-right: 3vw;
}

.page-form {
  width: 50%;
  display: inline-block;
}
.userauth-buttons {
  text-align: right;
}