@import '../lib/vars'; 

.modal-body {

  input {
    width: 100%;
    border-radius: $border-radius;
    border-color: $color-black;
    border-width: 1px;
    border-style: solid;
    padding: $pad;
    margin: $margin;
  }

  input:focus {
    background-color: $color-primary-hover;
    border-radius: $border-radius;
    border-color: $color-black;
    border-width: 1px;
    border-style: solid;
  }

  button {
    padding: $pad;
    margin: $margin;
    border-radius: $border-radius;
    border-color: $color-black;
    border-width: 1px;
    border-style: solid;
    width: 20%;
  }

  button:hover {
    background-color: $color-primary-hover;
  }
}

.profile-form, .league-form, .group-form {
  input {
    width: 50%;
    border-radius: $border-radius;
    border-color: $color-black;
    border-width: 1px;
    border-style: solid;
    padding: $pad;
    margin: $margin;
  }

  input[type="radio"] {
    width: 5%;
  }

  input:focus {
    background-color: $color-primary-hover;
    border-radius: $border-radius;
    border-color: $color-black;
    border-width: 1px;
    border-style: solid;
  }

  label {
    display: inline-block;
    width: 30%;
  }
  
  div.radio-div {
    width: 48%;
    border-width: 1px;
    border-style: solid;
    border-color: $color-black;
    border-radius: $border-radius;
    margin: $margin;
    padding: $pad;
  }

  button {
    padding: $pad;
    margin: $margin;
    border-radius: $border-radius;
    border-color: $color-black;
    border-width: 1px;
    border-style: solid;
    width: 20%;
    display: block;
  }

  button:hover {
    background-color: $color-primary-hover;
  }
}

  .group-form div {
    margin: $margin;
  }