@import '../lib/vars'; 

.modal-body {

  input {
    width: 100%;
    border-radius: $border-radius;
    border-width: 0px;
    background-color: #c2c2c2;
    padding: $pad;
    margin: $margin;
  }

  input:focus {
    background-color: $color-primary-hover;
    border-radius: $border-radius;
    border-width: 0px;
  }

  button {
    margin: $margin;
    width: 20%;
  }
}

.profile-form, .league-form, .group-form {
  input {
    width: 50%;
    background-color: #c2c2c2;
    border-radius: $border-radius;
    border-width: 0px;
    padding: $pad;
    margin: $margin;
  }

  input[type="radio"] {
    width: 5%;
  }

  input:focus {
    background-color: $color-primary-hover;
    border-radius: $border-radius;
    border-width: 0px;
  }

  label {
    display: inline-block;
    width: 30%;
  }
  
  div.radio-div {
    width: 48%;
    font-size: 1.6vw;
    background-color: #c2c2c2;
    border-width: 0px;
    border-radius: $border-radius;
    margin: $margin;
    padding: $pad;
  }

  button {
    width: 20%;
    margin: $margin;
    display: block;
  }

}