@import './../lib/vars'; 

.headline {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #4A4A4A;
  font-size: 29px;
  line-height: 1;
  padding: 10px 0;
}
.banner-image {
  position: relative;
  margin: auto;
  max-width: 757px;
}
.background {
  position: relative;
  overflow: hidden;
}
.intro-background {
  width: 90%;
  left: 5%;
  position: absolute;
  height: 100%;
  top: 0;
}
.intro-curry {
  position: absolute;
}
.intro-lebron {
  position: relative;
  left: 5%;
}
.intro-images {
  max-width: 757px;
  width: 90%;
  left: 5%;
  height: auto;
}
.narrow-container {
  max-width: 600px;
  margin: 25px auto 40px;
}
.description {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(18/14);
  color: #4A4A4A;
  padding: 0 15px;
  font-family: 'Lato';
}
.author {
  font-weight: 600;
  margin-top: 15px;
  color: #4A4A4A;
  font-size: 14px;
  font-family: $font-secondary;
}
#start-button {
  line-height: 1;
  padding: 13px 0;
  font-size: 18px;
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-weight: 700;
  width: 100px;
  border-radius: 50px;
  margin-top: 15px;
  color: #4a4a4a;
  background: #fff;
  border: 2px solid #4a4a4a;
}
#start-button:hover {
  color: #FF001F;
  border-color: #FF001F;
}


// .test {
//   font-size:  @include responsive-font(2.5vw, 2px, 10px);
// }
// font-size:  @include responsive-font(2.5vw, 12px, 20px);
	// font-size:  @include responsive-font(3.8vw, 20px, 32px);