// @import "../../../style/lib/vars";

.inline-containerleague, .inline-containergroup {
  padding: 1vw;
  background: #fff;
  margin: 20px 0;
  position: relative;
  text-align: center;
}
.inner-wrapper {
  padding: 1vw;
}
.join-text {
  display: inline-block;
}