.logo {
  position: absolute;
  left: 16px;
  top: 10px;
  height: auto;
  z-index: 103;
}
.logo-text {
  color:#9B9B9B;
  transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.logo-text:hover {
  color:#ECECEC;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 100;
}
.pr3 {
  padding-right: 3px;
}
.socials {
  top: 10px;
  float: right;
  position: relative;
  z-index: 105;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social {
  height: 20px;
  float: left;
  width: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition-delay: 0.5s;
  transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
}
.social:nth-child(1) {
  margin-right: 8px;
}
.social:nth-child(2) {
  margin-right: 16px;
}
.social-icons {
  height: 20px;
  width: 20px;
  fill: #9B9B9B
}
.social:hover .social-icons {
  fill: #ECECEC;
}
.social-icons path {
  transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
}