.span-row {
  background-color: $color-lightgray;
  border-width: 1px;
  border-style: solid;
  border-color: $color-gray;
  border-radius: $border-radius;
  margin: .5vw;
  padding: $pad;
  width: auto;
  cursor: pointer;

  .span-name {
    display: inline-block;
    width: 20%;
    padding-left: 1vw;
    box-sizing: border-box;
  }
  .span-owner {
    display: inline-block;
    width: 20%;
    text-align: center;
  }
  .span-size {
    display: inline-block;
    width: 20%;
    text-align: center;
  }
  .span-privacy {
    display: inline-block;
    width: 20%;
    text-align: center;
  }
  .span-scoring {
    display: inline-block;
    width: 20%;
    text-align: center;
  }
  .span-join {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-right: 1vw;
    box-sizing: border-box;
  }
}

.public-leagues, .public-groups {
  margin-bottom: 5vh;
}