.create-header, .header {
  font-weight: 900;
  text-transform: uppercase;
  color: #4A4A4A;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.create-button, .create-button a {
  justify-content: center;
  height: 50px;
  letter-spacing: 1px;
  padding: 10px;
  background: #000;
  font-size: 20px;
  line-height: 1;
}
.create-button:hover {
  background: rgba(0,0,0,.7);
}
.container {
  max-width: 800px;
  margin: 20px auto;
}
@media screen and (max-width: 750px) {
  .muscles, .holla {
    margin: auto;
    display: block;
    max-width: 90vw;
  }
  .create-text {
    text-align: center;
  }
}

@media screen and (min-width: 751px) {
  .muscles {
    max-width: 90vw;
  }
  .create-text {
    float: right;
    max-width: 300px;
    font-size: 30px;
    color: #4A4A4A;
    font-weight: 400;
    margin-top: 100px !important;
  }
  .container .create-button, .container .create-button a {
    font-size: 30px !important;
    position: inherit !important;
    width: 100%;
    height: auto;
    padding: 10px;
  }  
}
.usersLeagueAndGroupsHeader {
  margin: 20px 12px 20px 12px;
  padding-bottom: 12px;
}
.join-container {
  margin: 20px auto 0;
}
.usersLeagueAndGroups {
  margin-top: 24px;
}
.usersLeagueAndGroups .container {
  margin: 20px auto 0;
}

.container .create-button a {
  background: transparent;
  color: #FFF !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  // font-size: 16px;
  font-weight: 900;
}
.container .join-text {
  font-size: 30px;
  color: #4A4A4A;
  font-weight: 400;
}
.russ, .kd {
  text-align: center;
  margin: auto;
  display: block;
  border-radius: 50%;
  background: #e1e1e1;
}
.myleaguesHeader {
  margin-top: 12px;
}
.myL-headers {
  color: #9B9B9B;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 16px;
  display: inline-block;
}
@media (min-width: 500px) {
  .myL-headers {
    font-size: 15px;
  }
  .l-name, .span-row .span-name {
    width: 30%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    // border-right: 1px solid #D8D8D8;
  }
  .l-creator, .span-row .span-owner {
    width: 30%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    // border-right: 1px solid #D8D8D8;
  }
  .l-players, .span-row .span-size {
    width: 15%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    // border-right: 1px solid #D8D8D8;
  }
  .l-scoring, .span-row .span-scoring, .span-row .span-privacy {
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    
  }
  .myL-headers {
    padding: 8px 0;
  }
}
.span-row {
  border-bottom: 1px solid #D8D8D8;
}
.span-row p {
  color: #4a4a4a;
  font-weight: 900;
}
.spacerRow {
  height: 30px;
}

.rowColors:nth-child(odd) {
  background: #EDEEF0;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
@media (max-width: 750px) {
  .create-button a { 
    font-size: 20px;
  }
}
.labelDesc {
  font-weight: 700;
  margin-bottom: 10px;
}
.landing-page .intro {
  margin-top: -15px;
}
.league-all-private-form, .group-all-private-form {
  margin-top: 30px;
  width: 100%;
  display: block;
}
.league-all-private-form  input {
  width: 80%;
  margin-left: 10%;
}
.joinPrivate { margin-right: 10%; margin-bottom: 30px;}