@import '../lib/vars'; 


.font-sm {
  @include responsive-font(2.5vw, 12px, 20px);
}
.font-md {
  @include responsive-font(3.8vw, 20px, 32px);
}
.font-lg {
  @include responsive-font(5.1vw, 28px, 44px);
}

*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(233, 233, 233);
  border-width: 0 0 0 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgb(194, 194, 194);
  height: 65px;
  width: 100%;
  z-index: 101;
}
main {
  margin-top: 38px;
  position: relative;
}
input {
  box-sizing : border-box;
}
button {
  cursor: pointer;
  padding: $pad;
  border-radius: $border-radius;
  border-color: $color-black;
  border-width: 1px;
  border-style: solid;
}

h2.title, h2 {
  margin-bottom: $margin;
  margin-left: $margin;
}

.page-outer-div h2 {
  margin-top: 3vw;
}