@import '../../style/lib/vars';

.comment-item {
  margin-top: 12px;

  .comment-photo-div {
    display: inline-block;
    margin-right: 8px;

    .img {
      height: 48px;
      width: 48px;
     }
  }

  .comment-text-div {
    display: linline-block;
  
    .comment-commenter {
      color: pink;
    }
    
    .comment-content {
      color: pink;
    }
   }
 }