.userPick-container {
  margin: 30px;

  .teamNameButton {
    background: black;
    color: white;
    width: 100%;
    font-size: 20px;
    border: solid 1px black;
    border-radius: 3px;
    padding: 10px 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    cursor: pointer;
    transition: 350ms all;

    &:hover {
      background: white;
      border: solid 1px black;
      color: black;
    }
  }

  .gameItem {
    padding: 20px;
    width: 100%;
    background: white;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 50px;
  }

  .game-dateTime {
    font-style: italic;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
  }

  .userPicksDiv {
    p:first-child {
      font-size: 26px;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 20px;
    }
  }

  .gamesDiv {
    p:first-child {
      font-size: 26px;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 20px;
      margin-top: 20px;
      text-transform: capitalize;
    }
  }

  .teamRecord {
    font-weight: bold;
    font-size: 40px;
  }

  .userPickItem {
    width: 100%;
    box-sizing: border-box;
    background: white;
    padding: 20px;
    border-radius: 3px;
    font-size: 18px;

    .teamname {
      font-weight: bold;
    }

    .editingButton {
      font-weight: bold;
      color: green;
    }

    * {
      margin-bottom: 20px;
      display: block;
    }
  }
}
